*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: #fdfdfd;
  color: #222;
  
  line-height: 1.4;
}

a:link {
  color: #333;
}

.wrapper {
  padding: 0 1rem;
  
  padding-top: 2rem;
}

.form {
  max-width: 375px;
  margin: 0 auto;
}

.form--title,
.form--notice {
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.form--title {
  font-size: 2.618125rem;
  font-weight: 500;
  margin-bottom: 1.618rem;
  text-transform: lowercase;
}

.form--notice {
  font-size: 0.6180469716rem;
}

.form--inputContainer {
  position: relative;
  margin-bottom: 1rem;
  overflow: hidden;
}

.form--inputContainer:before {
  content: " ";
  display: block;
  
  position: absolute;
  top: 2.7rem;
  
  height: 1px;
  width: 100%;
  
  transform: translate3d(-100%, 0, 0);
  
  background-color: #bbb;
}

.form--inputContainer:after {
  content: " ";
  display: block;
  
  position: absolute;
  top: 1rem;
  right: 0.4rem;
  
  height: 0.6180469716rem;
  width: 0.6180469716rem;
  
  background-color: #bbb;
  
  border-radius: 50%;
  
  opacity: 0;
}

.form--inputContainer.is-field-notice:after,
.form--inputContainer.is-field-success:after,
.form--inputContainer.is-field-error:after {
  opacity: 1;
}

.form--inputContainer.is-field-notice:before,
.form--inputContainer.is-field-notice:after {
  background-color: #FFF032;
}

.form--inputContainer.is-field-success:before,
.form--inputContainer.is-field-success:after {
  background-color: #00FF91;
}

.form--inputContainer.is-field-error:before,
.form--inputContainer.is-field-error:after {
  background-color: #FF195B;
}

.form--inputContainer.is-field-badPassword:before {
  transform: translate3d(-66.66%, 0, 0);
}

.form--inputContainer.is-field-mediumPassword:before {
  transform: translate3d(-33.33%, 0, 0);
}

.form--inputContainer > input {
    background: none;

    border: none;
    border-bottom: 1px solid #bbb;
    min-height: 44px;
}

.form--inputContainer > input[type="submit"] {
  border: 1px solid #333;
}

.form--inputContainer > input {
  display: block;
  width: 100%;
  
  outline: 0;
}

.form--inputContainer.is-field-active .form--label {
  font-size: 0.6180469716rem;
  top: -0.1rem;
}

.form--inputContainer.is-field-withInput .form--label {
  opacity: 0;
}

.form--label {
  display: block;
  color: #bbb;
  
  position: absolute;
  top: 0.68rem;
  left: 0.1rem;
}


.form--label,
.form--inputContainer > input {
  font-family: "Fira Mono", "Courier New", Consolas, monospace;
}

.pointer {
  cursor: pointer;
}
.pointer:hover {
  background-color: #eeeeee;
  transition: 0.3s;
}